*{
  margin: 2;
  padding:0;
  box-sizing: border-box;
}
body{
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: background .3s linear;
}
body.dark{
  background-color: #292c35;
}
body.dark p {
  color: #fff;
}
.checkbox{
  opacity: 0;
  position: absolute;
}
.label{
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  height: 26px;
  width: 50px;
  position: relative;
  transform: scale(1.5);
}
.ball{
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  transition: .3s linear;
}
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}
.moon{
  color: #f1c40f;
}
.sun{
  color: #f39c12;
}.
./
./
nail
///..
.//////
.........
............
///////////////
//////////
//////////////
///////////
function showMessage(element, msg, color) {
  element.style.visibility = "visible";
  element.textContent = msg;
  element.style.color = color;
  element.previousElementSibling.style.border = `2px solid ${color}`;
}
//////////////////////////////////////////////////////
//////////////////////////////////////////
////////////////////////
///////////////////////////////////////////////////////
//////////////////////////////////
/////////////////////////////
/////////////////////////////////
////////////////////////////////
/////////////////
////////////////
//////////////
/////////////////
/////////////////////
////////////////
////////////////
////////////////////
///////////////
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
mmain
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
mainain..............
..........................
............................
..............................
.............................
.................................
..........................
.............................
..........................
................................................
................
.................................
.............................
...............................
..........................................
..........................................
................................
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
v text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  curs  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: p////////////////////////////
////////////////////////////
///////////////
///////////
///////////////////////////
//////////////
////////////////////
/////////////////////
////////////////////////
///////////////////////////////
ointer;vvor: pointer;
