*{
  margin: 2;
  padding:0;
  box-sizing: border-box;
}
body{
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: background .3s linear;
}
body.dark{
  background-color: #292c35;
}
body.dark p {
  color: #fff;
}
.checkbox{
  opacity: 0;
  position: absolute;
}
.label{
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  height: 26px;
  width: 50px;
  position: relative;
  transform: scale(1.5);
}
.ball{
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  transition: .3s linear;
}
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}
.moon{
  color: #f1c40f;
}
.sun{
  color: #f39c12;
}.
./
./
nail
///..
.//////
.........
............
///////////////
//////////
//////////////
///////////
